henry-analytics/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "henry-analytics"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStorage10_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage10'"
		},
		"AzureBlobStorage11_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage11'"
		},
		"AzureBlobStorage12_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage12'"
		},
		"AzureBlobStorage13_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage13'"
		},
		"AzureBlobStorage14_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage14'"
		},
		"AzureBlobStorage15_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage15'"
		},
		"AzureBlobStorage16_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage16'"
		},
		"AzureBlobStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage2'"
		},
		"AzureBlobStorage3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage3'"
		},
		"AzureBlobStorage4_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage4'"
		},
		"AzureBlobStorage5_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage5'"
		},
		"AzureBlobStorage6_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage6'"
		},
		"AzureBlobStorage7_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage7'"
		},
		"AzureBlobStorage8_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage8'"
		},
		"AzureBlobStorage9_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage9'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage2'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		},
		"AzureSqlDatabase3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase3'"
		},
		"BlobParquet_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobParquet'"
		},
		"Destino_sqldw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Destino_sqldw'"
		},
		"HenryML_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'HenryML'"
		},
		"LifeExp_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LifeExp'"
		},
		"LifeExpectancy_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LifeExpectancy'"
		},
		"Maestra13_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Maestra13'"
		},
		"SQLDWHENRY_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLDWHENRY'"
		},
		"SQLaDataLake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLaDataLake'"
		},
		"limpia_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'limpia'"
		},
		"linkedService1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedService1'"
		},
		"sqldw_henrypf_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqldw_henrypf'"
		},
		"Adolescent_fertility_rate_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.ADO.TFRT?format=json&per_page=16500"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storagehenrypf.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storagehenrypf.dfs.core.windows.net/"
		},
		"AzureMLService1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "db9a7dcd-aeea-49d1-83eb-52ebd1441034"
		},
		"AzureMLService1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "Prueba"
		},
		"AzureMLService1_properties_typeProperties_mlWorkspaceName": {
			"type": "string",
			"defaultValue": "HenryML"
		},
		"Birth_Rate_Crude_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.CBRT.IN?format=json&per_page=16500"
		},
		"Current_health_expenditure_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.XPD.CHEX.GD.ZS?format=json&per_page=16500"
		},
		"Current_health_expenditure_per_capita_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.XPD.CHEX.PC.CD?format=json&per_page=16500"
		},
		"Fertility_rate_total_births_per_woman_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.TFRT.IN?format=json&per_page=16500"
		},
		"GHO1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ghoapi.azureedge.net/api/NCD_BMI_25C"
		},
		"HttpServer3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datasets.iisg.amsterdam/api/access/datafile/181?gbrecs=true"
		},
		"HttpServer4_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/V2/incomeLevel/LIC/country"
		},
		"HttpServer_Henry_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.worldbank.org/v2/en/indicator/SP.DYN.LE00.IN?downloadformat=excel"
		},
		"Life_expectancy_at_birth_female_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.FE.IN?format=json&per_page=16500"
		},
		"Maestra_13_series_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/pe;co;mx;cl;bra;ar;ng;et;eg;cd;tz;de;za;it;es;pl;fr;in;pk;bd;af;np;id;usa;cn;ru;gb;au;ro;lk/indicator/SP.ADO.TFRT;SP.DYN.CBRT.IN;SH.XPD.CHEX.GD.ZS;SH.XPD.CHEX.PC.CD;SP.DYN.TFRT.IN;SP.DYN.LE00.IN;SP.DYN.IMRT.IN;SP.POP.GROW;SP.POP.TOTL;SH.STA.SUIC.P5;NY.GDP.MKTP.CD;NY.GDP.PCAP.CD?&source=2&format=json&per_page=23000"
		},
		"OData1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ghoapi.azureedge.net/api/WHOSIS_000001"
		},
		"OData2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://services.odata.org/V2/Northwind/Northwind.svc/"
		},
		"OData3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ghoapi.azureedge.net/api"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databank.worldbank.org/AjaxDownload/FileDownloadHandler.ashx?filename=8773e578-95c3-40b4-ab6c-04f5d3974e9c.xlsx&filetype=EXCEL&language=en&displayfile=Data_Extract_From_World_Development_Indicators.xlsx"
		},
		"RestService10_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.XPD.CHEX.GD.ZS?format=json&per_page=16500"
		},
		"RestService11_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.CDRT.IN?format=json&per_page=16500"
		},
		"RestService12_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.TFRT.IN?format=json&per_page=16500"
		},
		"RestService13_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.POP.GROW?format=json&per_page=16500"
		},
		"RestService14_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json&per_page=16500"
		},
		"RestService15_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.ADO.TFRT?format=json&per_page=16500"
		},
		"RestService16_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.TFRT.IN?format=json&per_page=16500"
		},
		"RestService3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json"
		},
		"RestService4_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json&per_page=16500"
		},
		"RestService5_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.ADO.TFRT?format=json&per_page=16500"
		},
		"RestService6_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.CBRT.IN?format=json&per_page=16500"
		},
		"RestService7_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.STA.BRTC.ZS?format=json&per_page=16500"
		},
		"RestService8_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.XPD.KHEX.GD.ZS?format=json&per_page=16500"
		},
		"RestService9_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/all/indicator/SH.DTH.COMM.ZS?format=json&per_page=16500"
		},
		"TEST_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.worldbank.org/v2/country/pe;co;mx;cl;bra;ar;ne;et;eg;cd;tz;za;mt;se;it;es;pl;fr;in;pk;bd;af;np;sk;id;usa;cn/indicator/SH.XPD.CHEX.PC.CD;SH.XPD.CHEX.GD.ZS;SP.ADO.TFRT;SP.DYN.CBRT.IN;SH.XPD.CHEX.GD.ZS;SH.XPD.CHEX.PC.CD;SP.DYN.TFRT.IN;SP.DYN.LE00.IN;SP.DYN.IMRT.IN;SP.POP.GROW;SP.POP.TOTL;SH.STA.SUIC.P5;SH.XPD.CHEX.GD.ZS;SH.XPD.CHEX.PC.CD;SP.DYN.CDRT.IN;NY.GDP.MKTP.KD;NY.GDP.MKTP.KN;SH.STA.TRAF.P5?&source=2&format=json&per_page=30132"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataSource')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NCD_BMI_25C",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NCD_HYP_PREVALENCE_A",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "NCD_BMI_25C"
							},
							{
								"name": "Destination",
								"value": "RAW.NCD_BMI_25C"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ODataSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE RAW. NCD_BMI_25C",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "IndicatorCode",
											"type": "String"
										},
										"sink": {
											"name": "IndicatorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDimType",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDim",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimType",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDim",
											"type": "Int32"
										},
										"sink": {
											"name": "TimeDim",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Dim1Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim1Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim1",
											"type": "String"
										},
										"sink": {
											"name": "Dim1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim2Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2",
											"type": "String"
										},
										"sink": {
											"name": "Dim2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim3Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3",
											"type": "String"
										},
										"sink": {
											"name": "Dim3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDimType",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDim",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NumericValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NumericValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Low",
											"type": "Decimal"
										},
										"sink": {
											"name": "Low",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "High",
											"type": "Decimal"
										},
										"sink": {
											"name": "High",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Date",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionValue",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimensionValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_582",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "RAW",
									"vTabla": "NCD_BMI_25C"
								}
							}
						]
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SERIESWORLDBANK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "NCD_HYP_PREVALENCE_A"
							},
							{
								"name": "Destination",
								"value": "RAW.NCD_HYP_PREVALENCE_A"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ODataSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE RAW. NCD_HYP_PREVALENCE_A",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "IndicatorCode",
											"type": "String"
										},
										"sink": {
											"name": "IndicatorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDimType",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDim",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimType",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDim",
											"type": "Int32"
										},
										"sink": {
											"name": "TimeDim",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Dim1Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim1Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim1",
											"type": "String"
										},
										"sink": {
											"name": "Dim1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim2Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2",
											"type": "String"
										},
										"sink": {
											"name": "Dim2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim3Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3",
											"type": "String"
										},
										"sink": {
											"name": "Dim3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDimType",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDim",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NumericValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NumericValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Low",
											"type": "Decimal"
										},
										"sink": {
											"name": "Low",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "High",
											"type": "Decimal"
										},
										"sink": {
											"name": "High",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Date",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionValue",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimensionValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_j4u",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "RAW",
									"vTabla": "NCD_HYP_PREVALENCE_A"
								}
							}
						]
					},
					{
						"name": "Copy SERIESWORLDBANK",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 120,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE raw.SERIESWORLDBANK",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['indicator']['id']"
										},
										"sink": {
											"name": "indicator_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['indicator']['value']"
										},
										"sink": {
											"name": "indicator_value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']['id']"
										},
										"sink": {
											"name": "country_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']['value']"
										},
										"sink": {
											"name": "country_value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['countryiso3code']"
										},
										"sink": {
											"name": "countryiso3code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['value']"
										},
										"sink": {
											"name": "value",
											"type": "Double"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Mestra_13_series",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "raw",
									"vTabla": "SERIESWORLDBANK"
								}
							}
						]
					},
					{
						"name": "Transformacion_Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NCD_BMI_25C",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Transformation_Load]"
						},
						"linkedServiceName": {
							"referenceName": "SQLDWHENRY",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data Cleansed to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Machine Learning Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country_value",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country_value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "date",
											"type": "Int64",
											"physicalType": "Int64"
										}
									},
									{
										"source": {
											"name": "countryiso3code",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "countryiso3code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NY_GDP_MKTP_CD",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "NY_GDP_MKTP_CD",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SH_STA_SUIC_P5",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SH_STA_SUIC_P5",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_DYN_TFRT_IN",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_DYN_TFRT_IN",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_ADO_TFRT",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_ADO_TFRT",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_DYN_CBRT_IN",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_DYN_CBRT_IN",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_DYN_IMRT_IN",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_DYN_IMRT_IN",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SH_XPD_CHEX_PC_CD",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SH_XPD_CHEX_PC_CD",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SH_XPD_CHEX_GD_ZS",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SH_XPD_CHEX_GD_ZS",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_DYN_LE00_IN",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_DYN_LE00_IN",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_POP_GROW",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_POP_GROW",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "SP_POP_TOTL",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "SP_POP_TOTL",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "NY_GDP_PCAP_CD",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "NY_GDP_PCAP_CD",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "ncd_bmi_25a",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "ncd_bmi_25a",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "ncd_hyp_prevalence_a",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "ncd_hyp_prevalence_a",
											"type": "Double",
											"physicalType": "Double"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "raw",
									"vTabla": "Maestra_Cleansed"
								}
							}
						]
					},
					{
						"name": "Machine Learning Execute Pipeline1",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data de SQL a Data Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": "bcbf25fe-c880-47d4-bae2-1b9c32d454d1"
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data flow Incremental Load",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data Cleansed to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {
									"parameter1": "'indicator_id'"
								},
								"datasetParameters": {
									"source1": {
										"vEsquema": "DWH",
										"vTabla": "Mestra_Cleansed"
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "787ddb09-a3f6-41f5-9376-0a9c993b71ba"
							}
						}
					},
					{
						"name": "Copy data de SQL a Data Lake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Transformacion_Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "dwh",
									"vTabla": "Maestra_Indicadores"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Maestra_Indicadores",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-21T14:15:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_582')]",
				"[concat(variables('factoryId'), '/datasets/SQLDWHENRY')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_j4u')]",
				"[concat(variables('factoryId'), '/datasets/Mestra_13_series')]",
				"[concat(variables('factoryId'), '/linkedServices/SQLDWHENRY')]",
				"[concat(variables('factoryId'), '/datasets/Parquet3')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureMLService1')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]",
				"[concat(variables('factoryId'), '/datasets/Maestra_Indicadores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adolescent_fertility_rate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adolescent_fertility_rate",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adolescent_fertility_rate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dwh",
					"table": "Incremental_Load"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Birth_Rate_Crude')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Birth_Rate_Crude",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Birth_Rate_Crude')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Current_health_expenditure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Current_health_expenditure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Current_health_expenditure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Current_health_expenditure_per_capita')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Current_health_expenditure_per_capita",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Current_health_expenditure_per_capita')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Datasettoclean')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLaDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLaDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "AFR4.csv",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CLA4.csv",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WLD4.csv",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage5",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SAS4.csv",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage6",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EUU4.csv",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage7",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Results.csv",
						"folderPath": "UI/2022-10-19_173748_UTC",
						"container": "azureml-blobstore-39f905b4-7060-4ac1-9ca2-174b0bbb13e2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country_value",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage9",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "countryiso3code",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "String"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "String"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "String"
					},
					{
						"name": "SP.POP.GROW",
						"type": "String"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "String"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "String"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "String"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "String"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "String"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "String"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage13",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_582')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDWHENRY",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "NCD_BMI_25C"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDWHENRY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_j4u')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDWHENRY",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "NCD_HYP_PREVALENCE_A"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDWHENRY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_henry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer_Henry",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Data",
					"location": {
						"type": "HttpServerLocation"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer_Henry')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fertility_rate_total_births_per_woman')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Fertility_rate_total_births_per_woman",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Fertility_rate_total_births_per_woman')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Life_expectancy_at_birth_female')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Life_expectancy_at_birth_female",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Life_expectancy_at_birth_female')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Maestra_Indicadores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage16')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Maestras13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Maestra13",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "indicator_id",
						"type": "nvarchar"
					},
					{
						"name": "indicator_value",
						"type": "nvarchar"
					},
					{
						"name": "country_id",
						"type": "nvarchar"
					},
					{
						"name": "country_value",
						"type": "nvarchar"
					},
					{
						"name": "countryiso3code",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "float",
						"precision": 15
					},
					{
						"name": "value",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "Raw",
					"table": "Maestra13series"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Maestra13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mestra_13_series')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Maestra_13_series",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Maestra_13_series')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage10",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "_data.parquet",
						"folderPath": "azureml/6a606c9b-bdba-4d5e-8431-36f9d48314f8/Result_dataset",
						"container": "henrypf"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "country_value",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "INT64"
					},
					{
						"name": "countryiso3code",
						"type": "UTF8"
					},
					{
						"name": "SP.ADO.TFRT",
						"type": "DOUBLE"
					},
					{
						"name": "SP.DYN.CBRT.IN",
						"type": "DOUBLE"
					},
					{
						"name": "SH.XPD.CHEX.GD.ZS",
						"type": "DOUBLE"
					},
					{
						"name": "SH.XPD.CHEX.PC.CD",
						"type": "DOUBLE"
					},
					{
						"name": "SP.DYN.TFRT.IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP.DYN.LE00.IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP.DYN.IMRT.IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP.POP.GROW",
						"type": "DOUBLE"
					},
					{
						"name": "SP.POP.TOTL",
						"type": "DOUBLE"
					},
					{
						"name": "SH.STA.SUIC.P5",
						"type": "DOUBLE"
					},
					{
						"name": "NY.GDP.MKTP.KN",
						"type": "DOUBLE"
					},
					{
						"name": "NCD_BMI_25A",
						"type": "DOUBLE"
					},
					{
						"name": "NCD_HYP_PREVALENCE_A",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage11",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage15",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "data.dataset (1).parquet",
						"container": "henrypf"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "country_value",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "INT64"
					},
					{
						"name": "countryiso3code",
						"type": "UTF8"
					},
					{
						"name": "NY_GDP_MKTP_CD",
						"type": "DOUBLE"
					},
					{
						"name": "SH_STA_SUIC_P5",
						"type": "DOUBLE"
					},
					{
						"name": "SP_DYN_TFRT_IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP_ADO_TFRT",
						"type": "DOUBLE"
					},
					{
						"name": "SP_DYN_CBRT_IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP_DYN_IMRT_IN",
						"type": "DOUBLE"
					},
					{
						"name": "SH_XPD_CHEX_PC_CD",
						"type": "DOUBLE"
					},
					{
						"name": "SH_XPD_CHEX_GD_ZS",
						"type": "DOUBLE"
					},
					{
						"name": "SP_DYN_LE00_IN",
						"type": "DOUBLE"
					},
					{
						"name": "SP_POP_GROW",
						"type": "DOUBLE"
					},
					{
						"name": "SP_POP_TOTL",
						"type": "DOUBLE"
					},
					{
						"name": "NY_GDP_PCAP_CD",
						"type": "DOUBLE"
					},
					{
						"name": "ncd_bmi_25a",
						"type": "DOUBLE"
					},
					{
						"name": "ncd_hyp_prevalence_a",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage15')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_final')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobParquet",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService15",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService15')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService8",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService7",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService5",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource14')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService6",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource15')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService7",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource16')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService16')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource17')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService16')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource18')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService16')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource20')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService16')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService14",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService14')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService13",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService12",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService12')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService10",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService9",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDWHENRY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldw_henrypf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"vEsquema": {
						"type": "string"
					},
					"vTabla": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "DWH",
					"table": "Maestra_Cleansed"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldw_henrypf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_582')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OData3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": "NCD_BMI_25A"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OData3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_j4u')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OData3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": "NCD_HYP_PREVALENCE_A"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OData3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TEST",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adolescent_fertility_rate')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Adolescent_fertility_rate",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Adolescent_fertility_rate_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage10')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage10_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage11')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage11_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage12')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage12_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage13')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage13_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage14')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage14_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage15')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage15_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage16')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage16_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage4_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage5_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage6')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage6_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage7')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage7_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage8')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage8_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage9')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage9_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMLService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('AzureMLService1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureMLService1_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "[parameters('AzureMLService1_properties_typeProperties_mlWorkspaceName')]",
					"authentication": "MSI"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Life Expectancy",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Birth_Rate_Crude')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Birth_Rate_Crude",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Birth_Rate_Crude_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobParquet')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobParquet_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Current_health_expenditure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Current_health_expenditure_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Current_health_expenditure_per_capita')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Current_health_expenditure_per_capita",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Current_health_expenditure_per_capita_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Destino_sqldw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Destino_sqldw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fertility_rate_total_births_per_woman')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fertility_rate_total_births_per_woman",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Fertility_rate_total_births_per_woman_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GHO1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GHO1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HenryML')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('HenryML_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer3_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer4_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer_Henry')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer_Henry_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LifeExp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LifeExp_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LifeExpectancy')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LifeExpectancy_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Life_expectancy_at_birth_female')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Life_expectancy_at_birth_female",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Life_expectancy_at_birth_female_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Maestra13')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Maestra13_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Maestra_13_series')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "M",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Maestra_13_series_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OData1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('OData1_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OData2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "https://ghoapi.azureedge.net/api/NCD_HYP_PREVALENCE_A",
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('OData2_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OData3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('OData3_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService10')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService10_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService11')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService11_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService12')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService12_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService13')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService13_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService14')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SP.POP.TOTL",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService14_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService15')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService15_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService16')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService16_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService3_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Birth rate, crude (per 1000 people)",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService4_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService5_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService6')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService6_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService7')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService7_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService8')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService8_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService9')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService9_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDWHENRY')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQLDWHENRY_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLaDataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('SQLaDataLake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('TEST_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/limpia')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('limpia_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkedService1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldw_henrypf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqldw_henrypf_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Frecuencia_de_Actualizacion')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DataSource",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 12,
						"startTime": "2023-01-01T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "linkedService1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     parameter1 as string ('indicator_id')",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: true,",
						"     waterMarkColumn: 'date,countryiso3code',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLDWHENRY')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "Maestras13",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Maestras13",
							"dataset": {
								"referenceName": "Maestras13",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared Maestras13 = let AdfDoc = Sql.Database(\"devserverhenrypf.database.windows.net\", \"DWAnalytics\", [CreateNavigationProperties = false]), InputTable = AdfDoc{[Schema=\"Raw\",Item=\"Maestra13series\"]}[Data] in InputTable;\r\nshared UserQuery = let Source = #\"Maestras13\",\r\n  #\"Filas filtradas\" = Table.SelectRows(Source, each ([indicator_id] = \"SP.ADO.TFRT\")),\r\n  #\"Columnas quitadas\" = Table.RemoveColumns(#\"Filas filtradas\", {\"countryiso3code\", \"indicator_value\"}) in #\"Columnas quitadas\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Maestras13')]"
			]
		}
	]
}