henry-analytics/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "henry-analytics"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RestResource20')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService16",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService14",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService13",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService12",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService10",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService9",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDWHENRY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldw_henrypf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"vEsquema": {
						"type": "string"
					},
					"vTabla": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().vEsquema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().vTabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Azure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_SQL_Linked_Service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Raw",
					"table": "worldbankdata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_582')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OData3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": "NCD_BMI_25A"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_j4u')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OData3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": "NCD_HYP_PREVALENCE_A"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TEST",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorldBank')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WorldBank_LinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_Maestra_Indicadores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage17",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "henrypf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data WorldBank",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE RAW.WORLDBANKDATA",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['indicator']['id']"
										},
										"sink": {
											"name": "indicator_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['indicator']['value']"
										},
										"sink": {
											"name": "indicator_value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']['id']"
										},
										"sink": {
											"name": "country_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']['value']"
										},
										"sink": {
											"name": "country_value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['countryiso3code']"
										},
										"sink": {
											"name": "countryiso3code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['value']"
										},
										"sink": {
											"name": "value",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "WorldBank",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "RAW",
									"vTabla": "WORLDBANKDATA"
								}
							}
						]
					},
					{
						"name": "Copy data OMS_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data WorldBank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ODataSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE RAW.NCD_HYP_PREVALENCE_A",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "IndicatorCode",
											"type": "String"
										},
										"sink": {
											"name": "IndicatorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDimType",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDim",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimType",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDim",
											"type": "Int32"
										},
										"sink": {
											"name": "TimeDim",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Dim1Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim1Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim1",
											"type": "String"
										},
										"sink": {
											"name": "Dim1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim2Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2",
											"type": "String"
										},
										"sink": {
											"name": "Dim2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim3Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3",
											"type": "String"
										},
										"sink": {
											"name": "Dim3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDimType",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDim",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NumericValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NumericValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Low",
											"type": "Decimal"
										},
										"sink": {
											"name": "Low",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "High",
											"type": "Decimal"
										},
										"sink": {
											"name": "High",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Date",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionValue",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimensionValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_j4u",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "RAW",
									"vTabla": "NCD_HYP_PREVALENCE_A"
								}
							}
						]
					},
					{
						"name": "Copy data OMS_2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data OMS_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ODataSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE RAW.NCD_BMI_25C",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "IndicatorCode",
											"type": "String"
										},
										"sink": {
											"name": "IndicatorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDimType",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpatialDim",
											"type": "String"
										},
										"sink": {
											"name": "SpatialDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimType",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDim",
											"type": "Int32"
										},
										"sink": {
											"name": "TimeDim",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Dim1Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim1Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim1",
											"type": "String"
										},
										"sink": {
											"name": "Dim1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim2Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim2",
											"type": "String"
										},
										"sink": {
											"name": "Dim2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3Type",
											"type": "String"
										},
										"sink": {
											"name": "Dim3Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dim3",
											"type": "String"
										},
										"sink": {
											"name": "Dim3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDimType",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDimType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSourceDim",
											"type": "String"
										},
										"sink": {
											"name": "DataSourceDim",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NumericValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NumericValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Low",
											"type": "Decimal"
										},
										"sink": {
											"name": "Low",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "High",
											"type": "Decimal"
										},
										"sink": {
											"name": "High",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Date",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionValue",
											"type": "String"
										},
										"sink": {
											"name": "TimeDimensionValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionBegin",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "TimeDimensionEnd",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_582",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "RAW",
									"vTabla": "NCD_BMI_25C"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WorldBank')]",
				"[concat(variables('factoryId'), '/datasets/SQLDWHENRY')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_j4u')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_582')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "linkedService1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     parameter1 as string ('indicator_id')",
						"}",
						"source(output(",
						"          country_value as string,",
						"          date as long,",
						"          countryiso3code as string,",
						"          NY_GDP_MKTP_CD as double,",
						"          SH_STA_SUIC_P5 as double,",
						"          SP_DYN_TFRT_IN as double,",
						"          SP_ADO_TFRT as double,",
						"          SP_DYN_CBRT_IN as double,",
						"          SP_DYN_IMRT_IN as double,",
						"          SH_XPD_CHEX_PC_CD as double,",
						"          SH_XPD_CHEX_GD_ZS as double,",
						"          SP_DYN_LE00_IN as double,",
						"          SP_POP_GROW as double,",
						"          SP_POP_TOT as integer,",
						"          NY_GDP_PCAP_CD as double,",
						"          ncd_bmi_25a as double,",
						"          ncd_hyp_prevalence_a as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: true,",
						"     waterMarkColumn: 'date,countryiso3code',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLDWHENRY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "Maestras13",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Maestras13",
							"dataset": {
								"referenceName": "Maestras13",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared Maestras13 = let AdfDoc = Sql.Database(\"devserverhenrypf.database.windows.net\", \"DWAnalytics\", [CreateNavigationProperties = false]), InputTable = AdfDoc{[Schema=\"Raw\",Item=\"Maestra13series\"]}[Data] in InputTable;\r\nshared UserQuery = let Source = #\"Maestras13\",\r\n  #\"Filas filtradas\" = Table.SelectRows(Source, each ([indicator_id] = \"SP.ADO.TFRT\")),\r\n  #\"Columnas quitadas\" = Table.RemoveColumns(#\"Filas filtradas\", {\"countryiso3code\", \"indicator_value\"}) in #\"Columnas quitadas\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL InData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute API DATA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "API DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Consolidacion_Procedimiento Almacenado",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute API DATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Transformation_Load]"
						},
						"linkedServiceName": {
							"referenceName": "SQLDWHENRY",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SQL a Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Consolidacion_Procedimiento Almacenado",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "DWH",
									"vTabla": "Maestra_Indicadores"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_Maestra_Indicadores",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data Cleansed a SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Imputacion_valores_faltantes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "henrypf//dataset_filled.csv"
							},
							{
								"name": "Destination",
								"value": "@{'DWH'}.@{'Data_Cleansed'}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE DWH.Data_Cleansed",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country_value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_value",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "countryiso3code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryiso3code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NY.GDP.MKTP.CD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NY.GDP.MKTP.CD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SH.STA.SUIC.P5",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SH.STA.SUIC.P5",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.DYN.TFRT.IN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.DYN.TFRT.IN",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.ADO.TFRT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.ADO.TFRT",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.DYN.CBRT.IN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.DYN.CBRT.IN",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.DYN.IMRT.IN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.DYN.IMRT.IN",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SH.XPD.CHEX.PC.CD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SH.XPD.CHEX.PC.CD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SH.XPD.CHEX.GD.ZS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SH.XPD.CHEX.GD.ZS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.DYN.LE00.IN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.DYN.LE00.IN",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.POP.GROW",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.POP.GROW",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SP.POP.TOTL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP.POP.TOTL",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "NY.GDP.PCAP.CD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NY.GDP.PCAP.CD",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ncd_bmi_25a",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ncd_bmi_25a",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ncd_hyp_prevalence_a",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ncd_hyp_prevalence_a",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDWHENRY",
								"type": "DatasetReference",
								"parameters": {
									"vEsquema": "DWH",
									"vTabla": "Data_Cleansed"
								}
							}
						]
					},
					{
						"name": "Imputacion_valores_faltantes",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL a Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": "cf400623-5f70-4511-99f7-05f22c5fd88b"
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/API DATA')]",
				"[concat(variables('factoryId'), '/datasets/SQLDWHENRY')]",
				"[concat(variables('factoryId'), '/datasets/csv_Maestra_Indicadores')]"
			]
		}
	]
}